.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card-length {
    width: 100%;
}

.chek {
    margin: 20px;
}