<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section>

                <mat-card>
                    <mat-card-title>
                        Inaptos
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-selection-list role="list" *ngFor="let name of names">
                        <mat-icon matListIcon>account_box</mat-icon>
                        <mat-list-option matLine>{{name}}</mat-list-option>
                    </mat-selection-list>
                </mat-card>
            </section>

        </div>
    </div>
</div>