<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <section>
                <button mat-raised-button color="primary" [disabled]="!btnEnable" (click)="save()">Save</button>
                <button mat-raised-button color="warn" [disabled]="!btnEnable" (click)="inc()">{{buttonName}}</button>
            </section>

            <section>
                <button mat-raised-button color="accent" [disabled]="!btnEnable">Black</button>
                <button mat-raised-button color="accent" [disabled]="!btnEnable">Danger</button>
            </section>
            
            <section>
                <button mat-fab color="basic" (click)="disable()" [disabled]="!btnEnable">Disable</button>
            </section>

            <section >
                <div class="form-check"(change) = "cbChange($event)" >
                    <input class="form-check-input" type="checkbox" value="" id="true">
                    <label class="form-check-label" for="true">
                      Disable / Enable
                    </label>
                  </div>
            </section>

        </div>
    </div>